{{- $logo := (site.Params.assets.logo | default (site.Params.label.icon | default "images/logo.png")) | absURL -}}
{{- $pageImage := (or .Params.cover.image site.Params.assets.social_image site.Params.assets.logo "images/social-preview.png") | absURL -}}
{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.Title | jsonify | safeJS }},
  "url": {{ site.Home.Permalink | jsonify | safeJS }},
  "description": {{ site.Params.description | plainify | truncate 180 | jsonify | safeJS }},
  "logo": {
    "@type": "ImageObject",
    "url": {{ $logo | jsonify | safeJS }}
  },
  "image": {{ $pageImage | jsonify | safeJS }},
  "areaServed": "Turkmenistan"
}
</script>
{{- else if (or .IsPage .IsSection) }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ .Title | plainify | jsonify | safeJS }},
  "url": {{ .Permalink | jsonify | safeJS }},
  "description": {{ with .Description }}{{ . | plainify | jsonify | safeJS }}{{ else }}{{ .Summary | plainify | jsonify | safeJS }}{{ end }},
  "image": {{ $pageImage | jsonify | safeJS }},
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify | safeJS }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ $logo | jsonify | safeJS }}
    }
  }
}
</script>
{{- end }}
